#add-tag-form *{
    width: 40%;
}

#add-log-dropdown, 
#add-log-submit,
#add-log-details{
    width: 40%;
}

textarea::placeholder{
    color: white;
}

#editButton{
    background-color: #00D477;
    width: 60px;
    border-radius: 5px 0px 0px 5px;
    box-shadow: none;
    height: 40px;
}

#deleteButton{
    background-color: #E75B65;
    width: 60px;
    border-radius: 0px 5px 5px 0px;
    box-shadow: none;
    height: 40px;
}

#menu-bar{
    position: relative;
    text-align: center;
}

select, textarea{
    color: royalblue;
    background-color: black;
}

#add-log-form{
    width: 40%;
    padding-top: 30px;
}

div > fieldset {
    width: 30%;
}

fieldset{
    border-radius: 5px;
    border: 2px;
    border-color: black;
}

input[type=text], 
input[type=password],
input[type=email]{
    margin: 5px;
    background-color: black;
    color: royalblue;
    padding: 5px;
    width: 70%;
    border: none;
    box-shadow: 5px 8px 8px #888888;
}

input[type=text]:hover, 
input[type=email]:hover, 
input[type=password]:hover{
    background-color: black;
    color: royalblue;
}

input[type=text]::placeholder, 
input[type=email]::placeholder, 
input[type=password]::placeholder{
    color: white;
}

input[type=submit]{
    border-radius: 5px;
    color: royalblue;
    background-color: black;
    border: none;
    padding: 10px;
    width: 100px;
    box-shadow: 5px 8px 8px #888888;
}

ul > li{
    text-decoration: none;
    display: inline;
    text-align: center;
}

ul > li:hover{
    transition: 2s;
    color: black;
    background-color: royalblue;
}

button{
    border-radius: 2px;
    color: royalblue;
    background-color: black;
    border: none;
    padding: 10px;
    width: 100px;
    box-shadow: 5px 8px 8px #888888;
}

button:hover, input[type=submit]:hover{
    background-color: royalblue;
    color: black;
    transition: 1.0s;
}

#logout{
    justify-items: right;
}


legend.scheduler-border {
    width:inherit; /* Or auto */
    padding:0 10px; /* To give a bit of padding on the left and right */
    border-bottom:none;
}