#table-wrapper {
  position:relative;
}
#table-scroll {
  height: 600px;
  overflow:auto;  
  margin-top:20px;
}
#table-wrapper table {
  width:100%;
}
#table-wrapper table thead th .text {
  position:absolute;   
  top:-20px;
  z-index:2;
  height:20px;
  width:35%;
  overflow-x: auto;
}



.homePageText {
  width: 60%;
  text-align: center;
  background-color: rgba(88, 88, 88, 0.5);
}

#titleText{
  text-align: center;
}

.header {
  background-color: royalblue;
  color: black;
  text-align: center;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: royalblue;
  color: black;
  text-align: center;
}

#form-css * {
  width: 40%;
}

#form-css {
  padding-top: 30px;
  padding: 20px;
}

#add-log-dropdown,
#add-log-submit,
#add-log-details {
  width: 40%;
}

textarea::placeholder {
  color: white;
}

#completedButton {
  background-color: royalblue;
  border-radius: 5px 0px 0px 5px;
  width: 90px;
  box-shadow: none;
  height: 40px;
  color: black;
  padding-left: 5px;
}

#completedButton:hover {
  background-color: rgba(65, 105, 225, 0.5);
  border-radius: 5px 0px 0px 5px;
  width: 90px;
  box-shadow: none;
  height: 40px;
  color: black;
  padding-left: 5px;
}

#completedButtonOk {
  background-color: #0DBC79;
  width: 90px;
  border-radius: 5px 0px 0px 5px;
  box-shadow: none;
  height: 40px;
  padding-left: 5px;
  color: black;
}

#deleteButton {
  background-color: #E75B65;
  width: 60px;
  border-radius: 0px 5px 5px 0px;
  box-shadow: none;
  height: 40px;
  color: black;
}

#deleteButton:hover {
  background-color: rgba(231 , 91, 101, 0.5);
  width: 60px;
  border-radius: 0px 5px 5px 0px;
  box-shadow: none;
  height: 40px;
  color: black;
}

#menu-bar {
  position: relative;
  text-align: center;
}

select,
textarea {
  color: royalblue;
  background-color: black;
  padding: 10px;
}

div>fieldset {
  width: 30%;
}

fieldset {
  border-radius: 5px;
  border: 2px;
  border-color: black;
}

input[type=text],
input[type=password],
input[type=email] {
  margin: 5px;
  background-color: black;
  color: royalblue;
  padding: 5px;
  width: 70%;
  border: none;
  box-shadow: 5px 8px 8px #888888;
}

input[type=text]:hover,
input[type=email]:hover,
input[type=password]:hover {
  background-color: black;
  color: royalblue;
}

input[type=text]::placeholder,
input[type=email]::placeholder,
input[type=password]::placeholder {
  color: white;
}

input[type=submit] {
  border-radius: 5px;
  color: royalblue;
  background-color: black;
  border: none;
  padding: 10px;
  width: 100px;
  box-shadow: 5px 8px 8px #888888;
}

ul li {
  text-decoration: none;
  display: inline;
  text-align: center;
}

ul>li:hover {
  transition: 2s;
  color: black;
  background-color: royalblue;
}

button {
  border-radius: 2px;
  color: royalblue;
  background-color: black;
  border: none;
  padding: 10px;
  width: 100px;
  box-shadow: 5px 8px 8px #888888;
}

button:hover,
input[type=submit]:hover {
  background-color: royalblue;
  color: black;
  transition: 1.0s;
}

#logout {
  justify-items: right;
}


legend.scheduler-border {
  width: inherit;
  padding: 0 10px;
  border-bottom: none;
}


html,
body {
   margin:0;
   padding:0;
   height:100%;
}
#container {
   min-height:100%;
   position:relative;
   overflow-x:auto;
}
#header {
   background:#6cf;
   padding:10px;
}
#body {
   padding:10px;
   padding-bottom:60px;   /* Height of the footer */
}
#footer {
   position:absolute;
   bottom:0;
   width:100%;
   height:60px;   /* Height of the footer */
   background:#6cf;
}